streamlit==1.33.0
langchain_ibm==0.0.8
ibm-watsonx-ai==2.2.0
transformers==4.41.1
python-dotenv==1.0.1
langchain-core>=0.1.52

# Optional dependencies you may already have
faiss-cpu==1.7.4

# Required for text loading
unstructured==0.11.6

# If using HuggingFaceEmbeddings
sentence-transformers==2.7.0

